.header__title {
    background-color: var(--title-bg);
    font-size: 1.3rem;
    font-family: var(--main-font);
    text-align: center;
    margin: 0;
}

.title__b {
    font-weight: 700;
}

.header__warning {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--warning-bg-color);
    width: auto;
    height: 23svh;
    text-align: center;
}

.warning__text {
    background-color: var(--warning-color);
    width: 80svw;
    padding: 0.2em;
    border-radius: 18px;
    font-family: var(--secondary-font);
}

.warning__b {
    font-weight: 700;
    color: white;
}

@media (min-width: 820px) {
    .warning__text {
        width: 60svw;
        font-size: 2rem;
        padding: 0.4em;
    }
}

@media (min-width: 1400px) {
    .warning__text {
        width: 35svw;
        padding: 0.6em;
        font-size: 2.2rem;
    }
}
